
/*Necessary for the first letter*/
form label {
    font-weight: bold;
    display:block;
}

form label:first-letter{
    text-transform: uppercase;
}

/*heading1*/
h1{
    color:darkred;
    font: size 48px;
}

body{
    background-color: lightgray;
}

